*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root{
    --main-font-family:'Roboto Condensed', sans-serif;
    --main-bg-color:#262626;
    --main-text-color:#1FC742;
    --main-border:5px solid #025B18;
}


body{
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 100%;
    min-height: 100vh;
}


ul {
  list-style-type: none;
}

.event_title{
    width: auto;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 1rem;*/
}

.event{
    display: grid;
    grid-template-columns: repeat(4,  0.25fr);
    grid-gap: 1rem;
    margin: 1rem;
}

.event__list{
    padding: 1rem;
    border: var(--main-border);
    border-radius: 0.5rem;
}

.picker{
    width: auto;
    height: auto;
    margin: 1rem;
    display: flex;

    justify-content: center;
    align-items: center;
}

.picker__confirm{
    width: 25vw;
    display: grid;
    grid-template-rows:repeat(4, 1fr);
    grid-gap: 1rem;
}

.picker__field{
    height:2rem;
    width: 100%;
    padding: 0.5rem;
    color:var(--main-text-color);
    background-color: var(--main-bg-color);
    border: 2px solid #025B18;
}

.picker__field:focus{
    outline: 3px solid #025B18;
    caret-color: var(--main-text-color);
    color: var(--main-text-color);
}

.picker__button{
    background-color: var(--main-bg-color);
    border: var(--main-border);
    color: var(--main-text-color);
}

.picker__button:hover{
    cursor:pointer;
}

.display_message{
    display: flex;
    justify-content: center;
    align-items: center;
}